@keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 40s linear infinite;
    white-space: nowrap; /* Prevent line breaks */
  }
  body{
    background-color: #fffbeb;
  }